/* App.css */
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  padding: 20px;
  margin: 0 auto;
  max-width: 1200px;
}

h2 {
  font-size: 1.8rem;
  font-weight: 600;
  color: #00bcd4;
  margin-bottom: 15px;
}

footer {
  background-color: #0097a7;
  color: white;
  text-align: center;
  padding: 20px;
}

/* App.css */
/* App.css */
iframe {
  width: 100%;
  max-width: 800px;  /* Adjust size */
  height: 600px;
  border: none;
  display: block;
  margin: 0 auto;
}
