/* General Styles */
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #f0f4f8; /* Light background */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* Header */
header {
  background-color: #00bcd4; /* Turquoise Blue */
  color: white;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Custom section spacing */
.section-spacing {
  margin-top: 40px;
  margin-bottom: 40px;
}


header h1 {
  font-size: 1.8rem;
}

nav {
  display: flex;
  gap: 20px;
}

nav a {
  color: white;
  font-weight: bold;
  font-size: 1.1rem;
}

nav a:hover {
  text-decoration: underline;
}

/* Weather and Location */
.weather {
  color: #333;
  font-size: 1.2rem;
  text-align: right;
  padding: 10px;
  margin-top: 10px;
}

/* Main Content */
.main-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.card {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  width: 25%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 10px;
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05);
}

/* Footer */
footer {
  background-color: #00bcd4; /* Turquoise Blue */
  color: white;
  padding: 15px;
  text-align: center;
}

footer a {
  color: white;
  margin: 0 10px;
}

footer a:hover {
  text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 768px) {
  .main-content {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 80%;
  }
}
